input:focus{
    outline: none;
}

textarea:focus{
    outline: none;
}

.title{
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: .5em;
    border-bottom: solid .02em black;
    margin-bottom: .5em;   
}

.title input{
    background-color: transparent;
    border: none;
    font-size: 1.2em;
    width: 100%;
}


.description{
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: .5em;
}

.description textarea{
    background-color: transparent;
    border: none;
    height: 5em;
    width: 100%;
    resize: none;
}

.submit{
    padding-left: 5%;
    padding-right: 5%;
    text-align: right;
}

.submit input{
    background-color: blue;
    padding-top: .4em;
    padding-bottom: .4em;
    padding-right: 1.5em;
    padding-left: 1.5em;
    border: none; 
    border-radius: 2em;
    color: yellow;
    /* transition: all .2s; */
    font-size: .9em;
}

.submit input:hover{
    background-color: yellow;
    color: blue;
}